APP_PORT=3002
DATABASE_URL=postgres://gata_admin:change-me-admin-password@localhost:5433/gata_league
DATABASE_CHECK_RETRIES=30
DATABASE_CHECK_DELAY_MS=1000

POSTGRES_PORT=5433
POSTGRES_DB=gata_league
POSTGRES_USER=gata_admin
POSTGRES_PASSWORD=change-me-admin-password

ADMIN_LOGIN=admin
ADMIN_PASSWORD=change-me-site-admin-password
ADMIN_TELEGRAM=@admin
